{% extends "base.html"%}

{% block title %}Documentação{% endblock %}

{% block content %}
<div class="page_header">
    <div class="row m-3">
        <div class="container-fluid">
            <h1 class="display-4">
                <strong>API de Dados V1</strong>
            </h1>
            <p class="lead text-justify" >
                Esta pagina descreve a API de dados, uma forma automatizada de obter os dados
                do COVID-19. Em geral de uso de desenvolvedores de softwares ou estudantes que
                desejam integrar essas informações a outros sistemas. A documentação abaixo
                descreve, com exemplos, como utilizar a interface de dados.
            </p>
        </div>
        
    </div>
    <div class="m-5 border border-primary m-2 rounded">
        <div class="m-3">
        <h2 class="display-6">
            <strong>Acesso à API de todos os casos.</strong>
        </h2>
        <p class="text-mured">
            O acesso à API é publico, não é necessário criar uma conta tampouco autenticar.
        </p>
        <h3>
            <strong>Estrutura das requisições.</strong>
        </h3>
        <div class="m-3">
            <h4>URL</h4>
            <p>
                É necessário fazer uma chamada HTTP, método <strong>GET</strong>, para a URL<br/>
                <span><strong>https://covid-19.lucas-martins.com/api/v1/<samp>all_cases</samp></strong></span>
            </p>
            <h4>Resposta</h4>
                <p>As respostas são retornadas no formato JSON.</p>
                <h5>Exemplo de retorno:</5>
                    <div class="text-white bg-dark rounded">
                        <p class="m-3">
                            <samp>
                            {<br/>
                                "date_data":"2020-04-10",<br/>
                                "hour_data":"21:24"<br/>
                                "total_cases":"1,685,533",<br/>
                                "total_deaths":"102,099",<br/>
                                "total_recovered":"375,221",<br/>
                                "url":"/api/v1/all_cases"<br/>
                            }
                        </samp>
                        </p>
                    </div>
        </div>
    </div>
    </div>
    <div class="m-5 border border-primary m-2 rounded">
        <div class="m-3">
        <h2 class="display-6">
            <strong>Acesso à API de casos de todos dos países.</strong>
        </h2>
        <p class="text-mured">
            O acesso à API é publico, não é necessário criar uma conta tampouco autenticar.
        </p>
        <h3>
            <strong>Estrutura das requisições.</strong>
        </h3>
        <div class="m-3" >
            <h4>URL</h4>
            <p>
                É necessário fazer uma chamada HTTP, método <strong>GET</strong>, para a URL<br/>
                <span><strong>https://covid-19.lucas-martins.com/api/v1/<samp>all_countries</samp></strong></span>
            </p>
            <h4>Resposta</h4>
            <p>As respostas são retornadas no formato JSON.</p>
            <h5>Exemplo de retorno:</5>
                <div class="text-white bg-dark rounded">
                    <p class="m-3">
                        <samp>
                            [<br/>
                            {<br/>
                                "active_cases":"474",<br/>
                                "country":"Afghanistan",<br/>
                                "date_data":"2020-04-10",<br/>
                                "deaths_cases":"15",<br/>
                                "hour_data":"20:59",<br/>
                                "new_cases":"+37",<br/>
                                "new_deaths":"",<br/>
                                "serious_critical":"",<br/>
                                "total_cases":"521",<br/>
                                "total_recovered":"32",<br>
                                "url":"/api/v1/all_countries",<br/>
                                "url_country":"country/afghanistan/"<br/>
                            }<br/>
                            ...<br/>
                            ]
                        </samp>
                    </p>
                </div>
        </div>
    </div>
    </div>


</div>
{% endblock %}