{% extends "base.html" %}
{% block title %}Covid-19-api{% endblock %}

{% block content %}
<!--<div class="container">-->
    <div class="row m-1">
        <div class="col-sm ">
            <div class="card text-white bg-primary m-1" style="max-width: 30rem;">
                <div class="card-header">Casos Covid-19</div>
                <div class="card-body">
                    <h5 class="card-title">{{cases.total_cases}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-success m-1" style="max-width: 30rem;">
                <div class="card-header">Recuperados</div>
                <div class="card-body">
                    <h5 class="card-title">{{cases.total_recovered}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-danger m-1" style="max-width: 30rem;">
                <div class="card-header">Mortos</div>
                <div class="card-body">
                  <h5 class="card-title">{{cases.total_deaths}}</h5>
                </div>
              </div>
        </div>
    </div>
<!--</div>-->
<div class="containe m-4">
    <canvas id="chart" width="800" height="300"></canvas>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <div class="input-group">
                <input type="text" id="myFilter" class="form-control" onkeyup="searchFunction()"
                    placeholder="Procurar país..">
            </div>
        </div>
    </div>
    <div id="myItems" class="row">
        <div class="col-sm-12 mb-3">
            {% for item in countries %}
            <div class="card bg-light mb-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    <button onclick="window.location.href='/country/{{item.country}}'" type="button"
                        class="btn btn-outline-primary">{{item.country}}</button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Total de casos: {{item.total_cases}} | Novos Casos: <span
                            style="color: red;">{{item.new_cases}}</span> </h5>
                    <p class="card-text">Total de mortos: {{item.deaths_cases}} | Novos Mortos: <span
                            style="color: red;">{{item.new_deaths}}</span></p>
                    <p class="card-text">Total de recuperados: <span
                            style="color: green;">{{item.total_recovered}}</span> |
                        Casos Ativos: {{item.active_cases}}
                        <p class="card-text">Casos Criticos: {{item.serious_critical}} </p>
                        <p clas="card-text" style="display: flex; justify-content: flex-end">{{item.date_data}} -
                            {{item.hour_data}} </p>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="static/Chart.min.js"></script>
<script>
    function searchFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myItems");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-header");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
<script>
    // Global parameters:
    // do not resize the chart canvas when its container does (keep at 600x400px)
    Chart.defaults.global.responsive = true;

    window.chartColors = {
        red: 'rgb(229, 1, 1)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(65, 199, 32)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    }
    // define the chart data
    var chartData = {
      labels : [{% for item in values['labels'] %}
                 "{{item}}",
                {% endfor %}],
      datasets : [{
          label: 'Casos Covid-19',
          fill: false,
          borderColor: window.chartColors.blue,
          data : [{% for item in values['cases'] %}
                    {{item}},
                  {% endfor %}],
        },
        {
            label: 'Recuperados',
            borderColor: window.chartColors.green,
            fill: false,
            data: [{% for item in values['recovereds'] %}
                    {{item}},
                    {% endfor %}]
        },
        {
            label: 'Mortos',
            borderColor: window.chartColors.red,
            fill: false,
            data: [{% for item in values['deaths']%}
                    {{item}},
                    {% endfor %}]
        }]
    }

    var ctx = document.getElementById("chart").getContext("2d")

    var myChart = new Chart(ctx, {
        type: 'line',
        data: chartData,
        options: {
            tooltips:{
                enabled: true,
                mode: 'point'
            },
        }
    });
</script>
{% endblock%}