{% extends "base.html" %}
{% block title %}Covid-19-api{% endblock %}

{% block content %}
<!--<div class="container">-->
    <div class="row m-1">
        <div class="col-sm ">
            <div class="card text-white bg-primary m-1" style="max-width: 30rem;">
                <div class="card-header">Casos Covid-19</div>
                <div class="card-body">
                    <h5 class="card-title">{{cases.total_cases}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-success m-1" style="max-width: 30rem;">
                <div class="card-header">Recuperados</div>
                <div class="card-body">
                    <h5 class="card-title">{{cases.total_recovered}}</h5>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card text-white bg-danger m-1" style="max-width: 30rem;">
                <div class="card-header">Mortos</div>
                <div class="card-body">
                  <h5 class="card-title">{{cases.total_deaths}}</h5>
                </div>
              </div>
        </div>
    </div>
<!--</div>-->
<div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="chart"></canvas>
</div>

<div class="d-flex justify-content-center mb-3">
    <button onclick="window.location.href='/world'" type="button" class="btn btn-outline-primary">Mapa Mundial</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 mb-3">
            <div class="input-group">
                <input type="text" id="myFilter" class="form-control" onkeyup="searchFunction()"
                    placeholder="Procurar país..">
            </div>
        </div>
    </div>
    <div id="myItems" class="row">
        <div class="col-sm-12 mb-3">
            {% for item in values %}
            <div class="card bg-light mb-3 shadow p-3 mb-5 bg-white rounded">
                <div class="card-header">
                    <button onclick="window.location.href='/country/{{item.country}}'" type="button"
                        class="btn btn-outline-primary">{{item.country}}</button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Total de casos: {{item.total_cases}} | Novos Casos: <span
                            style="color: red;">{{item.new_cases}}</span> </h5>
                    <p class="card-text">Total de mortos: {{item.deaths_cases}} | Novos Mortos: <span
                            style="color: red;">{{item.new_deaths}}</span></p>
                    <p class="card-text">Total de recuperados: <span
                            style="color: green;">{{item.total_recovered}}</span> |
                        Casos Ativos: {{item.active_cases}}
                        <p class="card-text">Casos Criticos: {{item.serious_critical}} </p>
                        <p clas="card-text" style="display: flex; justify-content: flex-end">{{item.date_data}} -
                            {{item.hour_data}} </p>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="static/Chart.min.js"></script>
<script>
    function searchFunction() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");
        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myItems");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-header");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
</script>
<script>
    var barData = {
        labels : ["jan","fev","mar","abr","maio"],

        datasets : [{
          fillColor: "rgba(151,187,205,0.2)",
          strokeColor: "rgba(151,187,205,1)",
          pointColor: "rgba(151,187,205,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          bezierCurve : false,
          data : [10,2,5,9,6]
          }
	    ]
    }

    var mychart = document.getElementById("chart").getContext("2d");

      steps = 10
      max = {{ max }}
      // draw bar chart
      var LineChartDemo = new Chart(mychart).Line(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true,
        bezierCurve: false,
      });
</script>
{% endblock%}