{% extends "base.html" %}

{% block title%}Sobre{% endblock%}

{% block content %}
<div class="page-header" align="center">
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <h5 class="card-header">COVID-19-api</h5>
        <div class="card-body">
          <h5 class="card-title">Autor: Lucas Martins</h5>
          <p class="card-text">A API têm como base de dados o site <a href="https://www.worldometers.info/coronavirus/">worldometers</a></p>
        </div>
        <div class="card-body">
          <a href="https://github.com/lucasmcast/COVID-19-api" class="card-link">GitHub</a>
        </div>
      </div>
</div>
{% endblock%}